


  <!-- Navbar -->

  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link mt-3 mb-5">
      <img src="../../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light mb-2">RRHH App 3.0</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="" class="nav-link">
             <i class="nav-icon fa fa-home"></i>
              <p class="mx-3">Inicio</p>
            </a>
          </li>
      <!-- RRHH -->
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i [class]="menuRRHH.icon"></i>
              <p class="mx-3">
                RRHH
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li *ngFor="let item of menuRRHH.submenu" class="nav-item">
                <a [routerLink]="item.url" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{item.title}}</p>
                </a>
              </li>
            </ul>

          </li>

          <li class="nav-header my-2 mb-2 border-top border-secondary ">Opciones</li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i [class]="menuConfig.icon"></i>
              <p class="mx-3">
                Configuración
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li  *ngFor="let item of menuConfig.submenu" class="nav-item">
                <a [routerLink]="item.url" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{item.title}}</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
             <i class="nav-icon fa fa-user"></i>
              <p class="mx-3">Mi usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fa fa-times-circle"></i>
              <p class="mx-3">salir</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->


    <!-- /.sidebar-custom -->
  </aside>

  <!-- Content Wrapper. Contains page content -->

  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
<!--   <aside class="control-sidebar control-sidebar-dark"> -->
    <!-- Control sidebar content goes here -->
<!--   </aside> -->
  <!-- /.control-sidebar -->
